In [ ]:
import pandas as pd
import numpy as np
import random
import os
import gc

## Csv to Parquet
* 변환 했기 때문에 다시 안해도 된다

In [ ]:
# csv to parquet
# test_path = "./RawData/test.csv"
# train_path = "./RawData/train.csv"

# def csv_to_parquet(csv_path, save_name):
#     df = pd.read_csv(csv_path)
#     df.to_parquet(f'./{save_name}.parquet')
#     del df
#     gc.collect()
#     print(save_name, 'Done.')
    
# csv_to_parquet(train_path,'train')
#csv_to_parquet(test_path,'test')

train Done.
test Done.

In [14]:
train = pd.read_parquet('./RawData/train.parquet')
test = pd.read_parquet('./RawData/test.parquet')
# sample_submission = pd.read_csv('./sample_submission.csv',index_col = 0)
train_backup = train.copy()

# EDA

* 컬럼을 보았을 때, 요일과,시간과 기상상황이 주요하게 영향 끼쳤을 것 같다
* TARGET : 범죄타입 [0 : 강도, 1: 절도, 2: 상해]

In [15]:
train.head()

,ID,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,안개,짙은안개,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지,TARGET
0,TRAIN_00000,9,화요일,10,137,8.0,2.611124,0.000,0.0,0.0,245.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
1,TRAIN_00001,11,화요일,6,438,13.0,3.209093,0.000,0.0,0.0,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,0
2,TRAIN_00002,8,일요일,6,1729,47.0,1.619597,0.000,0.0,0.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,인도,1
3,TRAIN_00003,5,월요일,6,2337,53.0,1.921615,11.375,0.0,0.0,225.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,주거지,1
4,TRAIN_00004,9,일요일,11,1439,41.0,1.789721,0.000,0.0,0.0,255.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주유소,2

* 월별, 시간별, 요일별 범죄 분류 분포도 확인해보자

In [25]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.barplot(x = train['요일'],y)

In [28]:
train.groupby(by = '요일')['TARGET'].size()

요일
금요일    12243
목요일    11331
수요일    11410
월요일    11702
일요일    12837
토요일    13317
화요일    11566
Name: TARGET, dtype: int64

* Null 값 검사
  * 다행히 null 값은 없다

In [16]:
train.isna().sum()

ID         0
월          0
요일         0
시간         0
소관경찰서      0
소관지역       0
사건발생거리     0
강수량(mm)    0
강설량(mm)    0
적설량(cm)    0
풍향         0
안개         0
짙은안개       0
번개         0
진눈깨비       0
서리         0
연기/연무      0
눈날림        0
범죄발생지      0
TARGET     0
dtype: int64